<!--bootstrap footer-->
<footer class="bg-dark text-white pt-5 pb-4" aria-label="albacarifooter">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">
          albacari
        </h3>
        <p>
          Thank you for supporting Albacari. Tell us about your experience!
          <a href="/review/" style="color: gold">
            Leave a review 
            </a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">
          Contact
        </h3>
        <p>
          <i class="fas fa-home mr-3"></i> 420 Fake Street - Salem, OR 97302
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i
          ><a
            href="mailto:albacarimgmt@gmail.com"
            title="Send us an e-mail"
            style="color:gold"
          >
            albacarimgmt@gmail.com
          </a>
        </p>
        <p><i class="fas fa-phone mr-3"></i> 971-123-4567</p>
      </div>
    </div>

    <hr class="mb-4" />

    <div class="row">
      <div class="col-md-7 col-lg-8 mx-auto">
        <p>Copyright 2022 All rights reserved by Albacari</p>
      </div>
    </div>
  </div>
</footer>


</body>
</html>
